{% extends 'partials/_master.twig' %}

{% block main_container %}
    <h1>{{ record.title }}</h1>

    {% set current = app.request.requestUri|split('/')|last %}

    {% if current == 'features-developers' %}
        {% setcontent features = 'features' where { audience: 'developers' } %}
    {% elseif current == 'features-designers'%}
        {% setcontent features = 'features' where { audience: 'designers' } %}
    {% elseif current == 'features-editors' %}
        {% setcontent features = 'features' where { audience: 'editors' } %}
    {% else %}
        {# Assume we want to show all #}
        {% setcontent features = 'features' %}
        {% set all = true %}
    {% endif %}

    {% if all is defined and all is true %}
        <div class="row mb-5">
            {% include "partials/_features_buttons.twig" %}
        </div>
    {% endif %}

    {{ record.content }}

    {% for feature in features %}
        <div class="row flex align-items-center my-5 {% if loop.index % 2 == 0 %}flex-row-reverse{% endif %}">
            {% if feature.image is not empty %}
                <div class="col-md">
                    <img class="img-fluid" src="{{ feature.image|thumbnail(1280, 720) }}" />
                </div>
            {% endif %}
            <div class="col-md">
                <h3 class="titel2 text-left">{{ feature.title }}</h3>
                {{ feature.content }}
            </div>
        </div>
    {% endfor %}
{% endblock main_container %}
