{% extends 'partials/_master.twig' %}

{% block main %}
    <main>
        <div class="container">
            {# This is the "Hero" section #}
            <div id="hero">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-lg-10">
                        <h1 class="mx-auto">{{ record.title|raw }}</h1>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-md">
                        <figure>
                            <img class="image mr-2" src="theme/boltcms-2020/images/opensource.svg" alt="Open source">
                            <caption>100% open source</caption>
                        </figure>
                    </div>
                    <div class="col-md">
                        <figure>
                            <img class="image mr-2" src="theme/boltcms-2020/images/free.svg" alt="Easy content creation">
                            <caption>100% free</caption>
                        </figure>
                    </div>
                    <div class="col-md">
                        <figure>
                            <img class="image mr-2" src="theme/boltcms-2020/images/development.svg" alt="Simple development">
                            <caption>100% easy to use</caption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        {# End of "Hero" section #}

        <div class="container max-80-characters text-center">
            {{ record.teaser }}
        </div>

        {# Start of "Carousel" section #}
        {% if record.carousel is not empty %}
            <div class="my-5">
                <div class="slider zoom-images my-5">
                    {% for image in record.carousel|slice(0,6) %}
                        <div>
                            <a href="{{ image.path }}" data-caption="{{ image.alt }}">
                                <img src="{{ image.path }}" alt="{{ image.alt|default }}" loading="lazy">
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <script>
                    var slider = tns({
                        container: '.slider',
                        controlsPosition: 'bottom',
                        navPosition: 'bottom',
                        gutter: 70,
                        items: 1,
                        edgePadding: 50,
                        mouseDrag: true,
                        responsive: {
                            "576": { // bootstrap sm breakpoint
                                "items": 2,
                            },
                            "1200": { // bootstrap xl breakpoint
                                "items": 3,
                            }
                        },
                    });

                    window.addEventListener('load', function() {
                        baguetteBox.run('.zoom-images');
                    });
                </script>
            </div>
        {% endif %}
        {# End of "Carousel" section #}

        {# Start of "Features" section #}
        {% if record.features is not empty %}
            <div class="container">
                <div id="features">
                    <div class="row background pb-4 px-3">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <h3 class="details">{{ record.features_title }}</h3>
                                </div>
                            </div>
                        </div>

                        {% for feature in record.features %}
                            <div class="col-md-4 blok px-md-4">
                                <img class="imagedetails1" src="{{ feature.icon.path|default }}" alt="{{ feature.icon.alt|default }}">
                                <p class="paragraph"><strong>{{ feature.value.name|raw }}</strong></p>
                                <p>{{ feature.description }}</p>
                            </div>
                        {% endfor %}

                        {% include "partials/_features_buttons.twig" %}
                    </div>
                </div>
            </div>

        {% endif %}
        {# End of "Features" section #}
        <br>
        <br>
        
        {# Start of "blockquote" #}
         <div class="container">
            <div class="row">   
            <blockquote class="blockquote">
                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
                <div class="quote">
                <img class="quotepicture" src="theme/boltcms-2020/images/quote.jpeg" alt="Marjolein Pronk"/>
                <p class="author">Marjolein Pronk</p>
                <p class="workposition">Front-end Developer</p>
                </div>
            </blockquote>
            </div>  
        </div>
        {# End of "blockquote" #}

        <div class="container">
            {# Start of "Powered by / community" section #}
            <div class="row">
                <div class="col">
                    <h3 class="titel">Want to help?</h3>
                    <p class="text">
                        You are awesome! And no, you don’t need to be a developer. Or super rich. There are so many ways
                        in which you can help. Go ahead, find out what you can do!</p>
                    <div class="text-center">
                        <a class="btn btn-primary wide-button" href="/contribute">Contribute</a>
                    </div>
                </div>
                <div class="col">
                    <h3 class="titel">Need help?</h3>
                    <p class="text">No sweat. Really. There is a very supportive community out there,
                        ready to help you out. We just want you to fall in love with Bolt, like we already did. So go on, contact us!</p>
                    <div class="text-center">
                        <a class="btn btn-primary wide-button" href="/community">Get help</a>
                    </div>
                </div>
            </div>
            {# End of "Powered by / community" section #}
        </div>

        <div class="container">
            {% include 'partials/_cta.twig' %}
        </div>
    </main>
{% endblock %}
