{% extends 'partials/_master.twig' %}

{% block main %}
    <main>
        <div class="container">
            {# This is the "Hero" section #}
            <div id="hero">
                <div class="row">
                    <h1>{{ record.title }}</h1>
                </div>
                <div class="row my-5">
                    <div class="col-md">
                        <figure>
                            <img class="image mr-2" src="theme/boltcms-2020/images/opensource.svg" alt="Open source" />
                            <caption>100% open source</caption>
                        </figure>
                    </div>
                    <div class="col-md">
                        <figure>
                            <img class="image mr-2" src="theme/boltcms-2020/images/content.svg" alt="Easy content creation"/>
                            <caption>100% free</caption>
                        </figure>
                    </div>
                    <div class="col-md">
                        <figure>
                            <img class="image mr-2" src="theme/boltcms-2020/images/development.svg" alt="Simple development" />
                            <caption>100% easy to use</caption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        {# End of "Hero" section #}

        {# Start of "Carousel" section #}
        {% if record.carousel is not empty %}
            <div class="slider">
                {% for image in record.carousel %}
                    <div><img src="{{ image|thumbnail(1200, 760) }}" alt="{{ image.alt|default }}"/></div>
                {% endfor %}
            </div>
            <script>
                var slider = tns({
                    container: '.slider',
                    controlsPosition: 'bottom',
                    navPosition: 'bottom',
                    gutter: 20,
                    items: 1,
                    edgePadding: 50,
                    responsive: {
                        "576": { // bootstrap sm breakpoint
                            "items": 2,
                        },
                        "1200": { // bootstrap xl breakpoint
                            "items": 3,
                        }
                    },
                });
            </script>
        {% endif %}
        {# End of "Carousel" section #}

        {# Start of "Features" section #}
        {% if record.features is not empty %}
            <div class="container">
                <div id="features">
                    <div class="row background pb-4">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <h3 class="details">{{ record.features_title }}</h3>
                                </div>
                            </div>
                        </div>

                        {% for feature in record.features %}
                            <div class="col-md-4 blok">
                                <img class="imagedetails1" src="theme/boltcms-2020/images/stekker.svg"/>
                                <p class="paragraph"><strong>{{ feature.value.name|raw }}</strong></p>
                                <p>{{ feature.description }}</p>
                            </div>
                        {% endfor %}

                        <div class="col-md-4">
                            <button class="btn btn-outline-primary wide-button">For developers</button>
                        </div>

                        <div class="col-md-4">
                            <button class="btn btn-outline-primary wide-button">For designers</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-outline-primary wide-button">For content creators</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {# End of "Features" section #}

        <div class="container">
            {# Start of "Powered by / community" section #}
            <div class="row">
                <div class="col">
                    <h3 class="titel">Want to help?</h3>
                    <p class="text">
                        You are awesome! And no, you don’t need to be a developer. Or super rich. There are so many ways
                        in which you can help. Go ahead, find out what you can do!</p>
                    <div class="text-center">
                        <a class="btn btn-primary wide-button" href="/contribute">Contribute</a>
                    </div>
                </div>
                <div class="col">
                    <h3 class="titel">Need help?</h3>
                    <p class="text">Lorem ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of
                        type.</p>
                    <div class="text-center">
                        <a class="btn btn-primary wide-button" href="/community">Get help</a>
                    </div>
                </div>
            </div>
            {# End of "Powered by / community" section #}
        </div>

        <div class="container">
            {# Start of "CTA" section #}
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="row cta">
                        <div class="col-12">
                            <h1 class="titel1">Let's get started</h1>
                        </div>
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    <a href="https://docs.bolt.cm/" class="btn btn-primary button">Install Bolt</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# End of "CTA" section #}
        </div>
    </main>
{% endblock %}
