{% extends 'partials/_master.twig' %}

{% block main_container %}

    <h3>{{ contenttype.name }}</h3>

    {% for record in records %}
        <div class="my-5 row align-items-center justify-content-between">
            <div class="col-7">
                <h2>{{ record|title }}</h2>
                <p>Written by {{ record.author }} on {{ record.publishedAt|date }}</p>
                <p>{{ record|excerpt }}</p>
                <a class="btn btn-outline-primary" href="{{ record|link }}">Read more</a>
            </div>
            {% if record|image %}
                <div class="col col-sm-auto">
                    <img class="rounded" src="{{ record|image|thumbnail(380, 240) }}" alt="{{ record|image.alt|default }}" alt="thumbnail" >
                </div>
            {% endif %}
        </div>
    {% endfor %}

    {{ pager() }}
{% endblock main_container %}
