{% extends 'partials/_master.twig' %}

{% block main_container %}
    <div class="detail-page">
        <h1>
            {{ record.title }}
            {% if record|edit_link() %}<a href="{{ record|edit_link() }}" class="btn btn-info btn-sm">edit</a>{% endif %}
        </h1>

        {% if record.image is not empty %}
            <img class="fluid" src="{{ record.image|thumbnail(800, 600) }}" alt="{{ record.image.alt|default }}" alt="Record" >
        {% endif %}

        {# Ugly fix because right now allow_twig does not work in article. #}
        {% if '_include_github_contributors' in record.content|raw %}
            {% set contributors %}
               {% include 'partials/_contributors.twig'%}
            {% endset %}

            {{ record.content|replace({'_include_github_contributors': contributors})|raw }}
        {% else %}
            {{ record.content }}
        {% endif %}
    </div>
{% endblock main_container %}
