{% extends 'partials/_master.twig' %}

{% block main %}
    {# <h1>{{ record.title }}</h1> #}

    {% set current = app.request.requestUri|split('/')|last %}

    {% if current == 'features-developers' %}
        {% setcontent features = 'features' where { audience: 'developers' } order "order" %}
        <div class="subheader">
            <h1 class="drop-left">Features for
                <div class="slidingVertical">
                    <span>developers</span>
                    <span>you</span>
                    <span>developers</span>
                    <span>you</span>
                </div>
            </h1>
            <div class="button-row">
                {% include "partials/_features_buttons.twig" %}
            </div>
        </div>
        {% set title = 'For developers' %}
    {% elseif current == 'features-designers' %}
        {% setcontent features = 'features' where { audience: 'designers' } order "order" %}
        <div class="subheader">
            <h1 class="drop-left">Features for
                <div class="slidingVertical">
                    <span>designers</span>
                    <span>you</span>
                    <span>designers</span>
                    <span>you</span>
                </div>
            </h1>
            <div class="button-row">
                {% include "partials/_features_buttons.twig" %}
            </div>
        </div>
        {% set title = 'For designers' %}
    {% elseif current == 'features-editors' %}
        {% setcontent features = 'features' where { audience: 'editors' } order "order" %}
        <div class="subheader">
            <h1 class="drop-left">Features for
                <div class="slidingVertical">
                    <span>content creators</span>
                    <span>you</span>
                    <span>content creators</span>
                    <span>you</span>
                </div>
            </h1>
            <div class="button-row">
                {% include "partials/_features_buttons.twig" %}
            </div>
        </div>
        {% set title = 'For content creators' %}
    {% else %}
        {# Assume we want to show all #}
       {% setcontent features_developers = 'features' where { audience: 'developers' } order "order" %}
        {% setcontent features_designers = 'features' where { audience: 'designers' } order "order" %}
        {% setcontent features_editors = 'features' where { audience: 'editors' } order "order" %}
        <div class="subheader">
            <h1 class="drop-left">Features for
                <div class="slidingVertical">
                    <span>developers</span>
                    <span>designers</span>
                    <span>content creators</span>
                    <span>you</span>
                </div>
            </h1>
            <div class="button-row">
                <a href="#developer" class="button ghost">For developers</a>
                <a href="#designer" class="button ghost">For designers</a>
                <a href="#editors" class="button ghost">For content creatures</a>
            </div>
        </div>
    {% endif %}
    <div class="content-wrapper">
        <div class="content-block">
            <a id="developer"></a>
            <div class="title">
                <h2>developers</h2>
            </div>
            <div class="features">
                {% for feature in features_developers %}
                    <div class="detail">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content-block">
            <a id="designer"></a>
            <div class="title">
                <h2>designers</h2>
            </div>
            <div class="features">
                {% for feature in features_designers %}
                    <div class="detail">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="content-block">
            <a id="editors"></a>
            <div class="title">
                <h2>content creators</h2>
            </div>
            <div class="features">
                {% for feature in features_editors %}
                    <div class="detail">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "partials/_bottom-block.twig" %}

{% endblock main %}
