{% extends 'partials/_master.twig' %}

{% block main %}
    <main id="content" tabindex="-1">
        <div class="subheader">
            <h1>
                {% set titleWords = record.title|split(' ') %}

                {% set duration = 0.2 %}
                {% set delay = 1.1 %}
                {% for word in titleWords %}
                    {% if loop.first %}
                        <span class="move moveScale" style="--delay: {{ delay }}s; --duration:
                        {% if loop.first %}
                                0.6s
                        {% else %}
                                {{ duration }}s
                    {% endif %};
                        {% if loop.first %} transform-origin: 50% 50%;{% endif %}">{{ word }}</span>
                    {% else %}
                        <i class="move moveScale" style="--delay: {{ delay }}s; --duration:
                        {% if loop.first %}
                                0.6s
                        {% else %}
                                {{ duration }}s
                    {% endif %};
                        {% if loop.first %} transform-origin: 50% 50%;{% endif %}">{{ word }}</i>
                    {% endif %}
                    {% set delay = 1.3 %}
                    {% set duration = duration + 0.2 %}
                {% endfor %}
            </h1>
        </div>

        <div class="promo-header">
            <div class="item-1">
                <h2>Open source</h2>
            </div>
            <div class="item-2">
                <h2>Easy content creation</h2>
            </div>
            <div class="item-3">
                <h2>Simple development</h2>
            </div>
        </div>

        {# Start of "Carousel" section #}
        {% if record.carousel is not empty %}

        <a href="#content-2" class="skip-link">
            Skip the carousel
        </a>

            <div class="my-slider zoom-images">
                {% for image in record.carousel|slice(0,6) %}
                    <div>
                        <a href="{{ image.path }}" data-caption="{{ image.alt }}">
                            <img src="{{ image|thumbnail(700, 400) }}" width="668" height="400" alt="{{ image.alt|default }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {# End of "Carousel" section #}

        {# Start of "Features" section #}
        {% if record.features is not empty %}
            <div class="detail-block" id="content-2" tabindex="-1">
                <h3>{{ record.features_title }}</h3>
                <div class="container">
                    {% for feature in record.features %}
                        <div>
                            <img class="imagedetails1" src="{{ feature.icon.path|default }}"
                                 alt="{{ feature.icon.alt|default }}">
                            <h4>{{ feature.value.name|raw }}</h4>
                            <p>{{ feature.description }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="button-wrapper">
                    {% include "partials/_features_buttons.twig" %}
                </div>
            </div>
        {% endif %}
        {# End of "Features" section #}

        {# start of Twitter section #}
        <div class="tweet">
            <div>
                <span class="wrapper">
                    <img src="https://place-hold.it/45pxx45px" alt="" width="45" height="45" />
                    <span class="text">
                        <h3>Naam Achternaam</h3>
                        <p>@twitter_handle - 20 januari 2021</p>
                    </span>
                    <a class="twitter-link" href="">
                        <svg height="32" viewBox="0 0 43 32" width="43" xmlns="http://www.w3.org/2000/svg"><path d="m35 3.3665625c-1.3015625.5709375-2.6884375.949375-4.134375 1.133125 1.4875-.888125 2.6228125-2.28375 3.1565625-3.9659375-1.386875.826875-2.918125 1.4109375-4.55 1.736875-1.316875-1.4021875-3.19375-2.270625-5.24125-2.270625-3.9725 0-7.170625 3.224375-7.170625 7.1771875 0 .56875.048125 1.115625.16625 1.63625-5.9653125-.2909375-11.24375-3.15-14.7896875-7.5053125-.6190625 1.0740625-.9821875 2.3034375-.9821875 3.626875 0 2.485 1.2796875 4.6878125 3.1871875 5.963125-1.1528125-.021875-2.28375-.3565625-3.241875-.88375v.07875c0 3.486875 2.4871875 6.383125 5.74875 7.0503125-.5840625.1596875-1.220625.23625-1.88125.23625-.459375 0-.923125-.02625-1.3584375-.1225.9296875 2.8415625 3.5678125 4.930625 6.7046875 4.9984375-2.44125 1.9096875-5.5409375 3.0603125-8.8965625 3.0603125-.5884375 0-1.1528125-.02625-1.7171875-.0984375 3.1784375 2.0496875 6.9453125 3.22 11.0075 3.22 13.20375 0 20.4225-10.9375 20.4225-20.418125 0-.3171875-.0109375-.6234375-.02625-.9275 1.4240625-1.010625 2.620625-2.2728125 3.59625-3.7253125z" fill="none"  stroke-width="2" transform="translate(5 2)"/></svg>
                    </a>
                </span>
                <p>Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, ingeniosi vocantur.</p>
            </div>
            <div>
                <span class="wrapper">
                    <img src="https://place-hold.it/45pxx45px" alt="" width="45" height="45" />
                    <span class="text">
                        <h3>Naam Achternaam</h3>
                        <p>@twitter_handle - 20 januari 2021</p>
                    </span>
                    <a class="twitter-link" href="">
                        <svg height="32" viewBox="0 0 43 32" width="43" xmlns="http://www.w3.org/2000/svg"><path d="m35 3.3665625c-1.3015625.5709375-2.6884375.949375-4.134375 1.133125 1.4875-.888125 2.6228125-2.28375 3.1565625-3.9659375-1.386875.826875-2.918125 1.4109375-4.55 1.736875-1.316875-1.4021875-3.19375-2.270625-5.24125-2.270625-3.9725 0-7.170625 3.224375-7.170625 7.1771875 0 .56875.048125 1.115625.16625 1.63625-5.9653125-.2909375-11.24375-3.15-14.7896875-7.5053125-.6190625 1.0740625-.9821875 2.3034375-.9821875 3.626875 0 2.485 1.2796875 4.6878125 3.1871875 5.963125-1.1528125-.021875-2.28375-.3565625-3.241875-.88375v.07875c0 3.486875 2.4871875 6.383125 5.74875 7.0503125-.5840625.1596875-1.220625.23625-1.88125.23625-.459375 0-.923125-.02625-1.3584375-.1225.9296875 2.8415625 3.5678125 4.930625 6.7046875 4.9984375-2.44125 1.9096875-5.5409375 3.0603125-8.8965625 3.0603125-.5884375 0-1.1528125-.02625-1.7171875-.0984375 3.1784375 2.0496875 6.9453125 3.22 11.0075 3.22 13.20375 0 20.4225-10.9375 20.4225-20.418125 0-.3171875-.0109375-.6234375-.02625-.9275 1.4240625-1.010625 2.620625-2.2728125 3.59625-3.7253125z" fill="none"  stroke-width="2" transform="translate(5 2)"/></svg>
                    </a>
                </span>
                <p>Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, ingeniosi vocantur.</p>
            </div>
        </div>


        {# End of twitter section #}

        {# Start of "newsitems" #}
        {% setcontent news = 'news' latest limit 2 %}
        <div class="columns sticky-news">
            {% for newsitem in news %}
                <div>
                    <h2>{{ newsitem|title }}</h2>
                    <p>{{ newsitem.content|excerpt }}</p>
                    <a href="{{ newsitem|link }}">Read the announcement</a>
                </div>
            {% endfor %}
        </div>
        {# End of "newsitems" #}

        {% include "partials/_bottom-block.twig" with {'blocks': ['lets-get-started','find-help-for-your-dream-project']} %}
    </main>

{% endblock %}

{% block javascripts %}
    {% include 'partials/_javascripts_index.twig' %}
{% endblock javascripts %}
