{% extends 'partials/_master.twig' %}

{% block main_container %}

    <div class="content-wrapper">
        <div class="current-version">
            <p>Latest version of Bolt CMS: 4.1.13 <a href="https://github.com/bolt/core/releases/latest">Download this
                    version</a></p>
        </div>
        <div class="important-message">
            <div class="header-block">
                <h2>Bolt 4.1.13 released</h2>
                <span transition-style="in:circle:top-left">#Announcement</span>
            </div>
            <p>Bolt 4.1.13 brings a slew of accessibility, usability, and DX improvements.</p>
        </div>
        {% setcontent record = 'news' limit 3 %}
        {% for recordlist in record %}
            <div class="news-wrapper">
                <article>
                    <h3>{{ recordlist|title }}</h3>
                    <p class="meta">Written by {{ recordlist.author }} on {{ recordlist.publishedAt|date }}</p>
                    <p>{{ recordlist|excerpt }}</p>
                    <a href="{{ recordlist|link }}">Read more</a>
                </article>
            </div>
        {% endfor %}
    </div>

{% endblock main_container %}
