{% extends 'partials/_master.twig' %}

{% block main %}
    <div class="subheader">
        <h1>{{ record.title }}</h1>
    </div>
    {% if record.image is not empty %}
        <img class="newsimage w-100 rounded" src="{{ record.image|thumbnail(1280, 720) }}"
             alt="{{ record.image.alt|default }}">
    {% endif %}
    <div class="news-wrapper">
        <article>
            <p class="meta">Published by {{ record.author }} on {{ record.publishedAt|date }}</p>

            <p>{{ record.content }}</p>
        </article>
    </div>
{% endblock main %}

