{% extends 'partials/_master.twig' %}

{% block body_class %}loading showcase{% endblock %}

{% block main %}
    <main>
        <div data-scroll>
            <div class="subheader">
                <h1>{{ contenttype.name }}</h1>
                <p>A fine selection of websites made with Bolt</p>
            </div>
            <div class="content">
                {% for showcase in showcases|slice(0, 9) %}
                    <div class="item">
                        {% if showcase.screenshot is not empty %}
                            <div class="item__img-wrap"
                                 style="--image: url({{ showcase.screenshot }});">
                                <div class="item__img"></div>
                            </div>
                        {% endif %}
                        <div class="item__caption">
                            <h2 class="item__caption-title">{{ showcase.title }}</h2>
                            <p class="item__caption-url"><a href="{{ showcase.website_link }}" target="_blank"
                                                            rel="noopener noreferrer">{{ showcase.website_link }}</a>
                            </p>
                            <p class="item__caption-copy">{{ showcase.website_name }}</p>
                            {% if showcase.contributor is not empty %}
                                <p class="item__caption-url">Built by: <span>{{ showcase.contributor }}</span>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="url-list">
                <h3>Honorary mentions</h3>
                {% for showcase in showcases|slice(9, 1000) %}
                    <a href="{{ showcase.website_link }}"> {{ showcase.website_link }}</a>
                {% endfor %}
            </div>

            {% include "partials/_bottom-block.twig" with {'blocks': ['do-you-build-bolt-websites', 'find-help-for-your-dream-project']} %}
        </div>
    </main>
{% endblock main %}

{% block javascripts %}
    {% include 'partials/_javascripts_showcase.twig' %}
{% endblock javascripts %}
