{% extends 'partials/_master.twig' %}

{% block main %}
    <body class="loading showcase">

    <main>
        <div data-scroll>
            <div class="subheader">
                <h1>{{ contenttype.name }}</h1>
                <p>A fine selection of websites made with Bolt</p>
            </div>

            <div class="content">
                {% for showcase in showcases %}
                    <div class="item">
                        {% if showcase.screenshot is not empty %}
                            <div class="item__img-wrap"
                                 style="--image: url({{ showcase.screenshot|thumbnail(700, 400) }});">
                                <div class="item__img item__img--t1"></div>
                            </div>
                        {% endif %}
                        <div class="item__caption">
                            <h2 class="item__caption-title">{{ showcase.title }}</h2>
                            <p class="item__caption-url"><a href="" target="_blank"
                                                            rel="noopener noreferrer">{{ showcase.website_link }}</a>
                            </p>
                            <p class="item__caption-copy">{{ showcase.website_name }}</p>
                            <p class="item__caption-url">Build by: <a href="" target="_blank"
                                                                      rel="noopener noreferrer">{{ showcase.contributor }}</a>
                            </p>
                        </div>

                    </div>
                {% endfor %}
            </div>

            <div class="url-list">
                <h3>Honorary mentions</h3>
                <a href="">www.test.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megatest.nl</a>
                <a href="">www.megatestdertestentest.nl</a>
                <a href="">www.test.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megalangetest.nl</a>
                <a href="">www.megatest.nl</a>
                <a href="">www.megatestdertestentest.nl</a>
            </div>

        </div>

    </main>
    </body>
{% endblock main %}
{% block javascripts %}
    {% include 'partials/_javascripts_showcase.twig' %}
{% endblock javascripts %}
