
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="An open source, adaptable platform for building and running modern websites. Built on PHP, Symfony and more.">
<meta name="author" content="Bolt">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<title>
    {%- if record|default and record.title -%}
        {{- record.title ~ ' | ' -}}
    {%- endif -%}
    {{- config.get('general/sitename') -}}
    {%- if record|default == null and config.has('general/payoff') -%}
        {{- ' | ' ~ config.get('general/payoff') -}}
    {%- endif -%}
</title>

<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400i,700,700i|Merriweather:300,300i,700,700i&display=swap" rel="stylesheet">
<link href="{{ asset('css/one-page-wonder.min.css') }}" rel="stylesheet">
<link href="{{ asset('vendor/prismjs/themes/prism-tomorrow.css') }}" rel="stylesheet">

<!-- Matomo -->
<script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//stats.bolt.cm/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '6']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<noscript><p><img src="//stats.bolt.cm/matomo.php?idsite=6&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
